*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
nav{
    width: 100%;
    height: 3rem;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: white;
    }
}

.user{
    padding: 1rem;
}



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: gray;
}


