<div id="user-{{ user.user_pk }}" class="user" mix-fade-3000>
    
    <form>
        <input name="user_name" type="text" value="{{ user.user_name }}">
        <input name="user_last_name" type="text" value="{{ user.user_last_name }}">

        <button mix-delete="/users/{{ user.user_pk }}">
            Delete
        </button>
        <button mix-get="/user/{{ user.user_pk }}">
            Show more
        </button>
        <button>
            Update
        </button>
    </form>


</div>







