<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js" defer></script>
    <title>
        {{ title }}
    </title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/items">Items</a>
        <a href="/about-us">About us</a>
        <a href="/contact-us">Contact us</a>
        <a href="/sign-up">Sign up</a>
    </nav>