{% include "_header.html" %}
    
<main id="items">

    <section id="left">
        <form mix-post="/users">
            <input name="user_name" type="text" placeholder="name">
            <input name="user_last_name" type="text" placeholder="last name">
            <button>
                Create user
            </button>
        </form>
        <div id="users">
            
        {% for user in users %}
            {% include "___user.html" %}
        {% endfor %}
        
        </div>
    </section>

    <section id="right">
        
    </section>

</main>


{% include "_footer.html" %}


