<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js" defer></script>
    <title>
        Signup
    </title>
</head>
<body>


    <form>
        <label for="">Username</label>
        <input  name="user_username" type="text" 
                mix-post="/check-username"
                mix-input
                mix-delay="2000"
                >
        <span>xxxxxxx</span>
    </form>



    <script src="/static/mixhtml.js"></script>

</body>
</html>